@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body,html{
    height: 100%;
    width: 100%;  
}
body{
    background-color: black;
    color: cornsilk;
    background-image: url(./img/rocket.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin:0%;
    font-family:'Roboto Slab', serif;
    text-align: center;
}
.align{
    display: flex;
    justify-content: center;
}
.fieldset{
    display: flex;
    justify-content: space-between;
    background-image: url("https://64.media.tumblr.com/a28c86e92d2aa2915281cd41a1bd64e3/tumblr_o0ll94A31e1s7z2cyo1_500.gifv");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 2px 18px 1px mediumpurple;
    border-style:double;
    border-color: rgba(147, 112, 216, 0.698);
    width: 15%;
    padding: 1%;
}

#corpo{
    background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.767))
}


#btn {
    background: #33678a;
    background-image: -webkit-linear-gradient(top, #33678a, #abc7d9);
    background-image: -moz-linear-gradient(top, #33678a, #abc7d9);
    background-image: -ms-linear-gradient(top, #33678a, #abc7d9);
    background-image: -o-linear-gradient(top, #33678a, #abc7d9);
    background-image: linear-gradient(to bottom, #33678a, #abc7d9);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    text-shadow: 2px 0px 0px #b54343;
    -webkit-box-shadow: 0px 4px 8px #000000;
    -moz-box-shadow: 0px 4px 8px #000000;
    box-shadow: 0px 4px 8px #000000;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 7px;
    border: solid #1f628d 2px;
    text-decoration: none;
}
a{
    color: inherit;
}
#btn:hover {
    background: #f0f0f0;
    background-image: -webkit-linear-gradient(top, #f0f0f0, #276a96);
    background-image: -moz-linear-gradient(top, #f0f0f0, #276a96);
    background-image: -ms-linear-gradient(top, #f0f0f0, #276a96);
    background-image: -o-linear-gradient(top, #f0f0f0, #276a96);
    background-image: linear-gradient(to bottom, #f0f0f0, #276a96);
    text-decoration: none;
}

footer {
    background-color: rgba(186, 85, 211, 0.561);
    position: absolute;
    bottom: 0%;
    text-align: center;
    color:black;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    width: 100%;
}

footer:hover {
    color: cornsilk;
    transition: 0.6s;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: cornsilk;

}

@media (max-width: 700px) {
    .fieldset{
        padding: 5%;
        width: 55%;
    }
}